
body {
  background-color: #f7f0e7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-image: url('./bg.jpg');
}
 #removeAndRedirect {
      background-color: #ff007f; /* Pink background */
      color: white; /* White text */
      border: none;
      border-radius: 5px;
      padding: 15px 30px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    #removeAndRedirect:hover {
      background-color: #e6007e; /* Darker pink on hover */
    }

    #removeAndRedirect:focus {
      outline: none; /* Remove default focus outline */
    }
.paper {
  width: 80%;
  max-width: 300px;
  height: auto;
  padding: 15px;
  margin: 10px;
  background: #fff;
  border: 2px solid #f0d4d4;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  cursor: grab;
  user-select: none;
  text-align: center;
  font-size: 18px;
  transition: transform 0.3s ease;
  background-image: url('./paper.jpg');
  touch-action: none; /* Prevents default touch actions like scrolling */
}

.paper img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.paper.image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  filter: blur(8px); /* Apply an initial 80% blur */
  transition: filter 0.5s ease; /* Smooth transition for removing the blur */
}



.paper.red {
  background: #f8d7da;
}

.p1 {
  font-family: 'Short Stack', cursive;
}

@media (max-width: 768px) {
  .paper {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .paper {
    font-size: 14px;
  }
}
